.board{
    width: 45vh;
    height: 56vh;
    background-color: #292d36;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}


.containerBtn{
    width: 10vh;
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.btn{
    border: none;
    transition: box-shadow 0.1s ease-in-out;
    width: 8vh;
    height: 8vh;
    background-color: #272b33;
    color: #f8f8f8;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 2.5vh;
}

.btn:active{
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btnWhite{
    color: #f8f8f8;
}

.btnGreen{
    color: #26bfa3;
}

.btnRed{
    color: #d25f5f;
}

